*{
    padding: 0;
    margin: 0;
    font-family: 'Open san', sans-serif;
}
/* header */
header{
    background-image: url('images/donation9.jpg');
   
}

.h-section{ 
    padding-top: 300px;
    padding-bottom: 200px;
    margin: 0px 80px;
    text-align: center;
}

.content-title{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 60px;
    margin-top: 15px;
    
}

.content-text{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.bt-pri{
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 2px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.d-section{ 
    padding: 130px 150px;
    margin: 0px 550px;
    text-align: center;
}
.d-content-title{
    color: rgb(27, 27, 27);
    font-weight: 600;
    font-size: 45px;
   margin-top: 80px;
}

.d-content-text{
    color: rgb(48, 48, 48);
    font-size: 20px;
    padding: 10px 100px;
    margin-bottom: 18px;
}

.container{
   display: flex;
    gap: 24px;
    padding: 0px 200px;
    align-items: center;
    justify-content: center;
  }
  .sub-btn{
    background-color: rgba(250, 250, 250, 1)
    ;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 0px;
    padding: 15px;
    border-radius: 5px;
   
}
.sub-btn-2{
    background-color: rgb(255, 228, 228);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-color: rgb(255, 146, 146);
    padding: 15px;
    border-radius: 5px;
    
}
.amount{
    color: rgb(233, 94, 94);
}
.custom-amount{
    margin: 30px 0px;
    /* margin-bottom: 30px; */
    padding: 18px 30px;
}
input[type="number"]{
    height: 20px;
    border: 0px;
    text-align: center;
}
/* plan */
.p-section{ 
    padding: 130px 150px;
    margin: 0px 550px;
}
.p-content-title{
    color: rgb(27, 27, 27);
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}
.p-content-text{
    color: rgb(77, 77, 77);
    font-size: 15px;
    padding: 10px 300px;
    margin-bottom: 18px;
    text-align: center;
}
.p-container{
display: flex;
    gap: 24px;
   padding: 0px 100px;
  
}

.plan-1{
    background-color: rgba(79, 157, 166, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.plan-2{
    background-color: rgba(255, 89, 89, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.plan-3{
    background-color: rgba(255, 195, 66, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;
}
.plan-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* info */
.info-container-1{
    display: flex;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}
.info-container-2{
    display: flex;
    gap: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}

.info-title{
    font-weight: 700;
    font-size: 50px;
    color: rgb(46, 46, 46);
    margin-bottom: 10px;
}

.info-text{
    color: rgb(95, 95, 95);
    font-weight: 600;
    font-size: 15px;
}
 /* update */
.update{
    margin-bottom: 80px;
}
.u-title{
    color: rgb(27, 27, 27);
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.u-text{
    color: rgb(77, 77, 77);
    font-size: 20px;
    margin-bottom: 18px;
    padding: 10px 100px;
    text-align: center;
}

.u-section{
    margin-left: 150px;
    margin-right: 150px;
    padding: 80px 250px;
    background: rgba(0, 195, 255, 0.329);
}
.subscribe-section{
    display: flex;
}
input[type="email"]{
    border: 0px;
    width: 50%;
    padding: 18px 30px;
    border-radius: 10px 0px 0px 10px;
}
.btn-primary-1{
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: 0px;
    width: 40%;
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
}

/* footer */

footer{
    background-color:rgba(23, 24, 24, 0.808);
    padding: 50px;
    text-align: center;   
}
.f-title{
    font-weight: 700;
    font-size: 30px;
    color: rgb(0, 195, 255);
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}
.f-sub-title{
    font-weight: 200;
    font-size: 15px;
    color: rgb(218, 218, 218);
}
